/* src/pages/OrderSuccess/OrderSuccess.module.css */
.successIcon {
  color: #F59E0B; /* cor amarela */
  font-size: 3rem;
  margin-bottom: 1rem;
}

.printOnly {
  display: none;
}

@media print {
  .printOnly {
    display: block;
  }
  
  .noPrint {
    display: none;
  }
}